/* affects everything */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: #FEFAE0;
}

/* affects nav bar */
.topnav {
    background-color: #606C38;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 10000;
}

ul {
    list-style-type: none;
}
  
li a {
    display: inline;
    padding-right: 15px;
    text-decoration: none;
    float: right;
}

#name {
    display: inline-block;
    vertical-align: baseline;
}

/* affects homepage */
.container {
    position: relative;
    text-align: center;
}

.hero {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/hero-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #606C38;
}

.circle {
    background: #BC6C25;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: double;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* affects main sections */
.subsection {
    background-color: #BC6C25;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 10px;
}

h2 {
    position: relative;
    bottom: 20%;
    left: 50%;
}

.subsection2 {
    background-color: #dda15e;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 10px;
}

/* affects about section */
.portrait {
    border-radius: 50%;
    height: 350px;
    position: relative;
    margin-right: 8%;
}

#about-me-text {
    position: relative;
    justify-content: center;
    padding-right: 100px;
}

/* affects project section */

/* affects contact section */

/* affects footer */
footer {
    background-color: #606C38;
    height: 50px;
    width: 100vw;
    text-align: center;
    padding: 10px;
}


/* FOR MEDIE SCREEN RESPONSE FOR NAVBAR GO TO
https://www.w3schools.com/howto/howto_css_topnav_centered.asp */