/* affects everything */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: #FEFAE0;
}

/* affects nav bar */
.topnav {
    background-color: #606C38;
    position: fixed;
    top: 0px;
    width: 100vw;
    z-index: 10000;
}

ul {
    list-style-type: none;
}
  
li a {
    display: inline;
    padding-right: 15px;
    text-decoration: none;
    float: right;
    color: #FEFAE0
}

#name {
    display: inline-block;
    vertical-align: baseline;
}

.topnav a:hover {
    color: #283618;
}

/* affects homepage */
.container {
    position: relative;
    text-align: center;
}

.hero {
    height: 100vh;
    width: 100vw;
    background-image: url("../images/hero-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #606C38;
}

.circle {
    background: #BC6C25;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: double;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* affects main sections */
.subsection {
    background-color: #BC6C25;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    align-self: center;
    padding: 10px;
}

.section-title {
    position: relative;
    bottom: 20%;
    left: 50%;
}

.subsection2 {
    background-color: #dda15e;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 10px;
}

/* affects about section */
.portrait {
    border-radius: 50%;
    height: 350px;
    position: relative;
    margin-right: 8%;
}

#about-me-text {
    position: relative;
    justify-content: center;
    padding-right: 100px;
}

/* affects project section */

.projects-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 10px 20px; 
    row-gap: 10px;
    column-gap: 20px;
}

#joke1 {
    width: 250px;
    height: 200px;
    display: block;
}

#joke2, #joke3, #joke4, #joke5 {
    width: 200px;
    height: 150px;
}

.project-titles{
    box-sizing: border-box;
    position: relative
}

.overlay {
    position: absolute;
    background: #606C38; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: #FEFAE0;
    font-size: 20px;
    text-align: center;
}

.project-titles:hover .overlay {
    opacity: 1;
}

/* affects contact section */
#contact {
    background-color: #BC6C25;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

#contact-title {
    align-self: flex-start; 
}

.icon {
    height: 50px;
    width: 50px;
}

/* affects footer */
footer {
    background-color: #606C38;
    height: 50px;
    width: 100vw;
    text-align: center;
    padding: 10px;
}


/* FOR MEDIE SCREEN RESPONSE FOR NAVBAR GO TO
https://www.w3schools.com/howto/howto_css_topnav_centered.asp */